
.dynamicDiv {
    width: 100%;
    padding: 10px;
    
}

.top {
    
    width: 100%;
    height: 100%;
    background: cyan;
    color: black;
    
    
    
    border: 2px solid black;
}

.bottom {
    background-color: darkgray;
    height: auto;

    border: 2px solid black;
}


.cardTitle {
    align-self: center !important;
    font-weight: bolder;
    
}


.pairs {
    display: inline-flex;
}



.cardAction-bottomBG {
    display: flex;

}


.wrapper {
    
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 500px;
    
    
  }

  .ProjectButton {
    background-color: slategray;
    color: black;
    font-weight: bolder;

  }

  .ProjectButton:hover {
    background-color: steelblue;
    color: white;
    font-weight: bolder;
  }

  body {
    background: fixed #1d2d44;  /* fallback for old browsers */
    background: fixed -webkit-linear-gradient(to right, #1d2d44, #001f54, #1d2d44);  /* Chrome 10-25, Safari 5.1-6 */
    background: fixed linear-gradient(to right, #1d2d44, #001f54, #1d2d44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

 