h2 {
    color: white;
    border-radius: 20%;
    border-bottom: 4px groove darkblue;
}

hr {
    border-style: groove !important;
}


.social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .social-links i {
    border-radius: 20%;
    border-left: 4px groove darkblue;
    border-right: 4px groove darkblue;
    font-size: 5rem;
    padding: 8px;
    margin-bottom: 10px;
  }


.SocialMediaLinks i {
    justify-content:space-around !important;
    border-style: none;
    border-radius: 20px 20px 20px 20px !important;

    
}

.SocialMediaLinks i:hover{
    justify-content:space-around !important;
    border-style: none;
    border-radius: 20px 20px 20px 20px !important;
    background-color: slateblue !important;
    
}

footer {
    position: absolute fixed;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    color: #414141;
}
